parameters:
        checkMissingIterableValueType: false
        level: max
        excludes_analyse:
            - vendor/*
        paths:
            - src/
            - example/
            - tests/
