parameters:
	bootstrap: %rootDir%/../../../src/bootstrap.php
	ignoreErrors:
	- '#Wdes\\PIL\\Twig\\TranslationNode\:\:__construct\(\) does not call parent constructor from Twig_Extensions_Node_Trans.#'
