<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd" colors="true" backupGlobals="false" bootstrap="vendor/autoload.php" cacheDirectory="build/phpunit">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage/html/"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="Unit tests">
      <directory suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
